{%- capture nodes                 %}
{%    include tabs.liquid size=9  %}<ul class="sf-menu">
{%    include tabs.liquid size=10 %}<li{% if site.baseurl == "" %} class="current"{% endif %}  data-type="main" aria-level="0"><a href="/" id="home" title="{{ stages | first }}*: Spin 168=π(1000) as Lexer and 618=1000/Φ as Parser">home</a>
{%    include tabs.liquid size=11 %}<ul>
{%    include tabs.liquid size=12 %}<li data-type="group" aria-level="0"><a href="/group-1" id="group-1" title="group-1">group-1</a>
{%    include tabs.liquid size=13 %}<ul>
{%-   include tabs.liquid size=14 %}{{ nodes }}
{%    include tabs.liquid size=13 %}</ul>
{%    include tabs.liquid size=12 %}</li>
{%    include tabs.liquid size=11 %}</ul>
{%    include tabs.liquid size=10 %}</li>
{%    include tabs.liquid size=10 %}<li{% if site.baseurl == "/grammar" %} class="current"{% endif %}  data-type="main" aria-level="4"><a href="/grammar" id="grammar" title="Current: {{ title }} of {{ note }} from Mapping: {{ stages | first }}">grammar</a></li>
{%    include tabs.liquid size=9  %}</ul>
{%- endcapture                   -%}
